#container
{
  width: 66%;
  background-color: #333;
  padding: 0 10px 20px;
  margin: 0 auto;
}

h1
{
  text-align: center;
  font-size: 2.5em;
  margin: 0 0 10px 0;
}

table
{
  max-width: 300px;
  margin: 0 auto 20px;
}

p
{
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #555;
  text-align: center;
  margin: 0 0 10px 0;
}

#stats {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stat
{
  width: 48%;
  height: 32px;
  line-height: 32px;
}

.stat span
{
  margin: 0 0 0 10px;
}

#game {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

/*#positionInputs {
  text-align: center;
}

#positionInputs label, #positionInputs input {
  margin: 0 0 15px 0;
}

#positionInputs label {
  margin: 0 5px 0 0;
}

#positionInputs input {
  height: 30px;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #111;
  color: white;
}

#fireBtn {
  width: 50%;
  height: 40px;
  margin: 0 0 15px 0;
  border: 1px solid red;
  border-radius: 5px;
  background-color: #400;
  color: red;
  font-size: 1.5em;
  text-transform: uppercase;
  transition: background-color .3s linear 0s;
}

#fireBtn:hover
{
  background-color: #700;
}*/

#messageLbl {
  text-align: center;
}

#messages {
  display: block;
  border: 1px solid #777;
  border-radius: 5px;
  background-color: #111;
  color: white;
  width: 70%;
  margin: 0 auto;
}

th, td {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  min-height: 24px;
  max-height: 56px;
}

tr:nth-child(2) td, tr td:first-child {
  border: none;
}

/* Row numbers */
tr td:first-child
{
  padding-right: 3px;
}

td
{
  border: 1px solid gray;
  text-align: center;
}

#cpu-board .boardSpace:hover {
  background-color: red;
}

/* Ending message box */
#endMessageBack {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#endMessageBox {
  display: block;
  width: 30%;
  height: 15%;
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: black 0 0 20px 10px;
}

#endMessageBox p {
  display: inline-block;
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: transparent;
  text-align: center;
}

#endMessageBox a {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
  border: 1px solid lime;
  color: lime;
  background-color: #040;
  padding: 15px 40px;
  cursor: pointer;
  transition: background-color .3s linear 0s;
  border-radius: 5px;
}

#endMessageBox a:hover {
  background-color: #070;
  text-decoration: none;
}
